# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform.lock.hcl

# Terraform crash logs
crash.log
crash.*.log

# Environment / secrets
.env
.env.*
*.pem
*.key

# VS Code local settings
.vscode/

# OS files
.DS_Store
Thumbs.db